@import "global";

main {
  @include flex(center, center, row);
  padding: 10rem 10rem 10rem 10rem;
  width: 100%;
  height: 100vh;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 70vw;

  //Upper content styles
  .upper-content {
    grid-column: 1/3;
    padding: 5rem 5rem;
    background: $neutral_white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    h1 {
      font-size: $header1;
      color: $primary_cyan;
    }

    h3 {
      margin-top: 2rem;
      font-size: $header2;
      color: $primary_bright_yellow;
    }

    p {
      margin-top: 2rem;
      color: $neutral_light_gray;
      font-size: $header3;
      font-weight: bold;
    }
  }

  //Montlhy Subscription styles
  .subscription {
    grid-column: 1/2;
    padding: 5rem 5rem;
    background: $primary_cyan;
    border-bottom-left-radius: 1rem;

    .dollar {
      margin-top: 2rem;
      .money {
        color: $neutral_white;
        font-size: $header3;
      }

      .month {
        color: $neutral_light_gray;
        font-size: $header4;
      }
    }

    h4 {
      font-size: $header3;
      color: $neutral_white;
    }

    p {
      font-size: $header4;
      color: $neutral_white;
    }

    button {
      margin-top: 2rem;
      padding: 2rem 2rem;
      width: 100%;
      color: $neutral_white;
      border-radius: 0.5rem;
      border: none;
      outline: none;
      background: $primary_bright_yellow;
      box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: 0.2),
        0px 20px 40px rgba($color: #000000, $alpha: 0.2);
      font-size: medium;
      font-weight: bold;
      font-family: "Karla", sans-serif;
      cursor: pointer;
    }
  }

  //Why Us Styles
  .why-us {
    padding: 5rem 5rem;
    background: hsl(179, 62%, 52%);
    border-bottom-right-radius: 1rem;

    h4 {
      font-size: $header3;
      color: $neutral_white;
    }

    p {
      margin-top: 2rem;
      font-size: $header4;
      color: $neutral_light_gray;
    }
  }
}

//media query
@media screen and (max-width: 1200px) {
  main {
    padding: 0rem;
  }
  .card {
    display: block;
    max-width: 85vw;
    height: 100%;
    margin-top: 5rem;

    .subscription {
      border-bottom-left-radius: 0rem;
    }

    .why-us {
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
}
